.group.home {

	padding: em(50) 0 0 0;

	display: block;
	overflow: auto;

	.intro, .journal, .podcast {
		width: em(320);
		height: em(300);
		text-align: center;
		img {
			opacity: 1;
		}
	}

	.intro {
		border: 1px solid black;
		position: relative;
		overflow: hidden;
		img {
			position: absolute;
			@include transition(all $ease .5s);
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
		.blurb {
			padding: em(0) em(35);
			position: absolute;
			opacity: 0;
			bottom: 0;
			font: 14px/22px $serif;
			@include transition(all $ease .5s);
			//@include transform(translateY(80%));
		}
		&:hover {
			img {
				top: 25%;
				width: 90% !important;
				//@include transform(translate(-50%, -75%));
			}
			.blurb {
				opacity: 1;
				bottom: 10px;
				//@include transform(translateY(70%));
			}			
		}

		span.dots {
			&::after {
				display: block;
				content: " ";
				width: em(5);
				height: em(5);
				position: absolute;
				bottom: em(10);
				left: em(10);
				border-radius: em(3);
				border: 1px solid black;
				z-index: 1;
			}
			&::before {
				display: block;
				content: " ";
				width: em(5);
				height: em(5);
				position: absolute;
				bottom: em(10);
				right: em(10);
				border-radius: em(3);
				border: 1px solid black;
				z-index: 1;
			}
			
			&:nth-child(2n) {
				&::after {
					top: em(10);
					left: em(10);
				}
				&::before {
					top: em(10);
					right: em(10);
				}
			}
		}
	}

	.journal {
		background: $copper;
		color: white;
		position: relative;
		overflow: hidden;
		img {
			position: absolute;
			
			@include transition(all $ease .5s);
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
		a.rss {
			padding: em(0) em(40) em(20);
			position: absolute;
			bottom: em(0);
			@include transition(all $ease .5s);
			color: white !important;
			width: 100%;
			left: 0;
			opacity: 0;
			z-index: 1;	
		}

		&:hover {
			img {
				top: 45%;
			}
			a.rss {
				bottom: em(10);
				opacity: .7;
				&:hover {
					opacity: 1;
				}
			}			
		}

		span.dots {
			&::after {
				display: block;
				content: " ";
				width: em(5);
				height: em(5);
				position: absolute;
				bottom: em(10);
				left: em(10);
				border-radius: em(3);
				border: 1px solid white;
				z-index: 1;
			}
			&::before {
				display: block;
				content: " ";
				width: em(5);
				height: em(5);
				position: absolute;
				bottom: em(10);
				right: em(10);
				border-radius: em(3);
				border: 1px solid white;
				z-index: 1;
			}
				
			&:nth-child(2n) {
				&::after {
					top: em(10);
					left: em(10);
				}
				&::before {
					top: em(10);
					right: em(10);
				}
			}
		}
	}

	.podcast {
		background: black;
		color: white;
		position: relative;
		overflow: hidden;
		
		img {
			position: absolute;
			@include transition(all $ease .5s);
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
		.blurb {
			padding: em(0) em(40) em(20);
			position: absolute;
			top: 65%;
			opacity: 0;
			font: 14px/22px $serif;
			@include transition(all $ease .5s);
			color: white !important;
		}
		&:hover {
			img {
				top: 30%;
				width: 90% !important;

			}
			.blurb {
				top: 60%;
				opacity: 1;
			}			
		}

		span.dots {
			&::after {
				display: block;
				content: " ";
				width: em(5);
				height: em(5);
				position: absolute;
				bottom: em(10);
				left: em(10);
				border-radius: em(3);
				border: 1px solid white;
				z-index: 1;
			}
			&::before {
				display: block;
				content: " ";
				width: em(5);
				height: em(5);
				position: absolute;
				bottom: em(10);
				right: em(10);
				border-radius: em(3);
				border: 1px solid white;
				z-index: 1;
			}
			
			&:nth-child(2n) {
				&::after {
					top: em(10);
					left: em(10);
				}
				&::before {
					top: em(10);
					right: em(10);
				}
			}
		}
	}
}