<footer>
	<div>
		<a class="copyright" href="">&copy; Nowhere 2014</a>
		<nav>
			<ul>
				<li><a href="info/">Info</a></li>
				<li><a href="small-print/">Small Print</a></li>
				<li><a href="contact/">Contact</a></li>
				<li><a href="press/">Press</a></li>
				<li><a href="mailing/">Mailing List</a></li>
			</ul>
		</nav>
		<ul class="social">
			<li><a href="http://twitter.com/anowhereman_" target="_blank">Twitter</a></li>
			<li><a href="http://instagram.com/anowhereman" target="_blank">Instagram</a></li>
		</ul>
	</div>
</footer>