<div class="productMenu">
	<ul>
		<li class="categories">
			<a href="#">By Category</a>
			<ul>
				<li><a href="category/">Everything</a></li>
				<li><a href="category/">Outerwear</a></li>
				<li><a href="category/">Footwear</a></li>
				<li><a href="category/">Tops</a></li>
				<li><a href="category/">Accessories</a></li>
				<li><a href="category/">Trousers</a></li>
			</ul>
		</li>
		<li class="brands">
			<a href="#">By Brand</a>
			<ul>
				<li><a href="brand/">A Kind of Guise</a></li>
				<li><a href="brand/">Adidas &times; Raf Simons</a></li>
				<li><a href="brand/">All Blues</a></li>
				<li><a href="brand/">Ayamé</a></li>
				<li><a href="brand/">CdG Parfums</a></li>
				<li><a href="brand/">Cote et Ciel</a></li>
				<li><a href="brand/">Fanmail</a></li>
				<li><a href="brand/">Filthy Club</a></li>
				<li><a href="brand/">Fred Perry &times; Raf Simons</a></li>
				<li><a href="brand/">London Undercover</a></li>
				<li><a href="brand/">Matthew Miller</a></li>
				<li><a href="brand/">Porter</a></li>
				<li><a href="brand/">Stutterheim</a></li>
			</ul>
		</li>
	</ul>
</div>