
header nav {
	position: fixed;
	width: 100%;
	background: black;
	height: em(75);
	z-index: 3;
	//opacity: .6;

	ul.main {
		display: block;
		position: relative;
		width: $desktop;
		margin: 0 auto;
		height: em(75);
		z-index: 3;
		box-sizing: border-box;
		@media only screen and (max-width : $desktop + 40px ) {
			width: 100%;
		}
	}
	
	// left nav title
	li.shop {
		width: em(50);
		height: em(75);
		padding: em(25) 0;
		display: block;
		position: absolute;
		top: em(0);
		left: em(20);
		a {
			color: white;
			position: relative;
			font: 16px/22px $serifBold;
			padding-bottom: em(3);
		}
		a::after {
			left: 0px;
			bottom: -3px;
			content: ' ';
			width: 100%;
			position: absolute;
			height: 1px;
			background: rgba(255,255,255,0);
			transition: all ease .2s;
		}
		a:hover::after {
			bottom: 0px;
			background: rgba(255,255,255,1);
		}
	}

	// logo
	a.logo {
		width: 50%;
		text-align: center;
		display: block;
		position: absolute;
		left: 50%;
		top: em(0);
		margin-left: -25%;
		text-align: center;
		color: white;
		img {
			width: em(200);
			margin-top: em(17);
			transition: all $ease .3s;
			@media only screen and (max-width : $tablet) {
				width: em(150);
				margin-top: em(20);
			}
			&:hover {
				opacity: .8;
			}
		}
		
	}

	// right nav title
	li.info {
		width: em(50);
		height: em(75);
		display: block;
		position: absolute;
		top: em(0);
		right: em(20);
		& > a {
			display: block;
			height: 18px;
			width: 18px;
			background: none;
			right: em(0);
			top: em(29);
			text-indent: -9999px;
			position: absolute;
			transition: all ease .2s;
			overflow: hidden;
			border-radius: 10px;
			&::before {
				display: block;
				content: ' ';
				margin-top: -1px;
				margin-left: -1px;
				height: 22px;
				width: 22px;
				position: absolute;
				background: rgba(255,255,255,1);
				transition: all $ease .5s;
			}
			&::after {
				display: block;
				content: ' ';
				height: 13px;
				width: 13px;
				top: em(29);
				border-radius: 10px;
				position: fixed;
				border: 3px solid white;
			}
		}
		& > a.active::before {
			transition: all $ease .5s;
			margin-top: em(23);
		}
	}
	span.loader {
		pointer-events: none; 
		width: em(42);
		height: em(42);
		display: block;
		position: absolute;
		top: em(17.5);
		right: em(7.5);
		background: red;
		opacity: 1;
		background: url('../images/loader.png');
		transition: all $ease .3s;
		@include animation(loopy linear .6s infinite);
		opacity: 0;
		&.active {
			opacity: 1;
		}
	}

}

@include keyframes(loopy) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(-360deg));
  }
}


.infoMenu {
	position: fixed;
	text-align: center;
	height: em(75);
	width: 100%;
	background: black;
	top: em(0); 	
	left: em(0);
	padding: em(25) 0;
	z-index: 2;
	transition: all $ease .5s;
	opacity: .7;
	overflow: hidden;
	@media only screen and (max-width : $tablet) {
		padding: em(10) em(20) 0;
	}
		
	&.active {
		top: em(75);
		opacity: 1;
		@media only screen and (max-width : $tablet) {
			padding: em(10) em(20) 0;
		}
	}

	
	li {
		display: inline-block;
		padding: 0 em(7);
	}
	a {
		font-family: $serif;
		color: white;
		position: relative;
		display: inline-block;
	}
	a::after {
		left: 0px;
		bottom: -3px;
		content: ' ';
		width: 100%;
		position: absolute;
		height: 1px;
		background: rgba(255,255,255,0);
		transition: all ease .2s;
	}
	a:hover::after {
		bottom: 0px;
		background: rgba(255,255,255,1);
	}
}


.productMenu {
	position: fixed;
	text-align: center;
	height: auto;
	width: 100%;
	background: black;
	top: em(75); 	
	left: em(0);
	padding: 0 0 em(45) 0;
	z-index: 2;
	transition: all $ease .5s;
	opacity: 0;
	pointer-events: none;
	margin-top: -100px;
	@media only screen and (max-width : $tablet ) {
		height: 100%;
		padding: 0 0 em(85) 0;
	}
	&.active {
		opacity: 1;
		margin-top: 0px;
		pointer-events: auto;
	}

	& > ul {
		width: $desktop;
		margin: 0 auto;
		text-align: left;
		padding: 0 em(20);
		@media only screen and (max-width : $desktop + 40px ) {
			padding-bottom: em(50);
			width: 100%;
		} 
		@media only screen and (max-width : $tablet ) {
			height: 100%;
			text-align: center;	
			overflow: auto;
		}
	}


	a {
		color: white;
		font: 1.35em/1em $serifBold;
		padding-bottom: em(2);
		margin-bottom: em(5);
	}

}


li.categories, li.brands {
	float: left;
	width:33%;
	@media only screen and (max-width : $tablet) {
		width: 100%;
	} 
	& > a {
		font: .8em/.9em $serif;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: em(20);

	}
	& > ul {
		a {
			position: relative;
			display: inline-block;
		}
		a::after {
			left: 0px;
			bottom: -3px;
			content: ' ';
			width: 100%;
			position: absolute;
			height: 1px;
			background: rgba(255,255,255,0);
			transition: all ease .2s;
		}
		a:hover::after {
			bottom: 0px;
			background: rgba(255,255,255,1);
		}
	}
}


li.brands {
	float: left;
	width: 66%;
	@media only screen and (max-width : $tablet) {
		width: 100%;
		margin-top: em(10);
	}
	& > ul {
		-webkit-column-count: 2;
		@media only screen and (max-width : $tablet) {
			-webkit-column-count: 1;
			width: 100%;
		} 
		
	}
}







