#brand, #category, #home, #single {

	font: 16px/26px $serif;
	
	header {
		text-align: center;
		padding: em(80) em(20) em(40) em(20);
		h1 { 
			font: 36px/36px $serifBold;
			color: black;
			padding: 0 0 em(8) 0;
			letter-spacing: -0.2px;
			
		}
		@media only screen and (max-width : $phone) {
			padding: em(30) em(20) em(10);
			h1 {
				font: 30px/32px $serifBold;
			}
		}
		.categories li, .brands li { 
			display: inline-block;
			padding: 0 em(5) em(5);
			a {
				color: rgba(0,0,0,.7);
			}
			a:hover {
				color: rgba(0,0,0,1);
			}
		}
		a.about {
			@include fontFeature("c2sc");		
			color: rgba(0,0,0,.7);
			font: 15px/22px $serif;
		}
		a.about:hover {
			color: rgba(0,0,0,1);
		}
	}

	.products {
		padding: 0 0 em(80) 0;
		overflow: auto;
		width: 100%;

		.title {
			width: 100%;
			float: left;
			h2 {
				text-align: center;
				color: black;
				font:19px/26px $serif;
				@include fontFeature("c2sc");
				letter-spacing: 1px;
				background: white;
				padding: em(30) em(10) em(10);
				width: auto;
				display: inline-block;
				left: 50%;
				@include transform(translateX(-50%));
				margin: 0 auto;
				position: relative;
				z-index: 1;

			}

			&::after {
				content: " ";
				display: block;
				border-bottom: 1px solid #000000;
				margin-top: em(-25);
				margin-bottom: em(70);
			}
		}
		.title:not(:first-child) h2 {
			padding-top: em(40);
		}

		#about {
			width: 100%;
			float: left;
			margin: em(30) 0 0 0;
			background: rgba(0,0,0,.1);
			color: black;
			padding: em(30) em(35) em(50);
			overflow: auto;
			h2 {
				font: 21px/23px $serifBold;
				float: left;
				width: 35%;
			}

			.info {
				font: 15px/25px $serif;
				float: left;
				width: 32%;
				margin-right: 5%;
			}
			.ourtake {
				font: 15px/25px $serif;
				float: left;
				width: 28%;
				em {
					display:block;
					font-style: normal;
					font-family: $serifIta;
				}
			}
			@media only screen and (max-width : $tablet) { 
				padding: em(50);
				h2 {
					margin-bottom: em(20);
				}
				h2, .info, .ourtake {
					width: 100%;
				}
			}
			@media only screen and (max-width : $phone) { 
				padding: em(20);
				h2 {
					margin-bottom: em(20);
				}
				h2, .info, .ourtake {
					width: 100%;
				}
			}
		}

		#top {
			float: left;
			width: 100%;
			text-align: center; 
			margin: em(20) 0 em(-30) 0;
			opacity: 0;
			transition: all $ease 1s;
			&.active {
				opacity: 1;	
			}
			a {
				display: inline-block;
				padding: em(10) em(20);
				color: rgba(0,0,0,.5);
				transition: all $ease .3s;
			}
			a:hover {
				background: rgba(0,0,0,.1);

			}
		}
	}

	.group .product:nth-child(3n+3) {
		margin-right: 0%;
		@media only screen and (max-width : $tablet) {
			margin-right: 10%;
		}
	}

	@media only screen and (max-width : $tablet) {
		.product:nth-child(2n+2) {
			margin-right: 0% !important;
		}
	}

			
	.product {
		width: 29%;
		float: left;
		margin-right: 6.5%;
		margin-bottom: 2%;
		padding: 0 0 em(10) 0;
		@media only screen and (max-width : $tablet) {
			//background: blue;
			width: 45%;
			margin-right: 10%;
			margin-bottom: 8%;
		}
		@media only screen and (max-width : $phone) {
			margin: 0 0 em(30) 0 !important;
			width: 100%;
		}		

		&.soldout {
			opacity: .5;
			transition: all $ease .4s;
			&:hover {
				opacity: 1;
			}
		}

		a {
			color: black;
			h3 {
				text-align: center;
				padding: em(15) em(5);
				font: 18px/23px $serifBold;
			}
			img {
				width: 100%;
				height: auto;
				opacity: 1;
				margin: 0;
				padding: 0;
				display: block;
			}
			p {

			}
			span.price {
				font: 18px/23px $serif;
				@include fontFeature("onum");
			}
		}

		.new {
			display: block;
			height: inherit;
			position: relative;
			overflow: hidden;
			p {
				display: block;
				bottom: 0px;
				position: absolute;
				width: 100%;
				margin: 0;
				height: em(50);
				margin-bottom: em(-40);
				padding: em(12) em(5);
				text-align: center;
				background: url("../images/bg3.gif");
			    background-size: 50px 50px;
			    background-repeat: repeat;
				transition: all $ease .3s;
				font: 15px/20px $serif;
				white-space: nowrap;
			}
		}
		&:hover, .mobile & {
			.new p {
				margin-bottom: 0;
				background-color: #FFF9AB;
			}
		}
	}
}
